@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap');

/* variable */
:root {
    --bg-dark-main: #eaeaea;
    --bg-dark-sec: #ffffff;
    --text-main: #222222;
    --text-sec: royalblue;
    --invert: invert(0);
}

body.dark {
    --invert: invert(100%);
    --bg-dark-main: #151515;
    --bg-dark-sec: #222222;
    --text-main: #ffffff;
    --text-sec: royalblue;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23020202' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23040404' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23060606' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23080808' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%230A0A0A' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%230e0e0e' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23121212' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23151515' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23191919' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%231D1D1D' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

/* sidebar design */
.sidebar {
    width: 300px;
    background-color: var(--bg-dark-sec);
    height: 100vh;
    position: fixed;
    top: 0;
    left: -300px;
    overflow-x: hidden;
    z-index: 10;
    transition: 0.3s;

}

.sidebar div.side {
    margin: 10px;
    margin-top: 45px;
    background-color: var(--bg-dark-main);
    border-radius: 8px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 15px var(--bg-dark-sec);
}

div.side1 {
    padding: 9px 0;
    margin-top: 20px;

}

div.side1 ul {
    list-style: none;
    padding: 3px;
}

div.side1 li {
    padding: 7px;
}

div.side1 li a {
    font-size: 20px;
    margin-left: 10px;
}

div.side1 li a span {
    margin-left: 10px;
}

div.side1 li:hover {
    background-color: var(--bg-dark-main);
}

a {
    text-decoration: none;
    color: var(--text-main);
}

button {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.sun {
    position: fixed;
    top: 90px;
    right: 20px;
    text-align: center;
    z-index: 1;
    padding: 4px;
    width: 40px;
    height: 40px;
    font-size: 25px;
    border-radius: 50%;
    transition: 0.3s;
    background-color: var(--text-main);
    color: var(--bg-dark-main);
}

.sun:hover {
    background-color: var(--text-sec);
    color: var(--bg-dark-sec);
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    text-transform: capitalize;
}


body {
    margin: 0;
    color: var(--text-main);
    /* background-color: var(--bg-dark-main); */
    background-color: #FFFFFF;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23f7f7f7' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23efefef' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23e6e6e6' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23dedede' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23D6D6D6' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23d3d3d3' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23d0d0d0' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23cccccc' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23c9c9c9' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23C6C6C6' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
    
    padding: 0;
    box-sizing: border-box;
    transition: 00.5s;
    /* font-family: 'Baloo Bhaijaan 2', cursive; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#close {
    font-size: 40px;
    background-color: transparent;
    cursor: pointer;
    color: var(--text-main);
    position: absolute;
    right: 15px;
    /* display: none; */
    border: none;
}

nav {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 8px;
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: var(--bg-dark-main);
    border-bottom: 1px solid rgba(186, 186, 186, 0.655);
}

.mobile-menu-button {
    height: 3rem;
    width: 3rem;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    left: 15px;
    /* display: none; */
    border: none;
    /* margin: 10px; */
}

.mobile-menu-button:hover svg {
    color: rgb(59, 59, 246);
    /* background-color: aqua; */
    transition: 0.4s;
}

.mobile-menu-button svg {
    color: gray;
}

section.hero1 {
    display: flex;
   
margin: 0 !important;
padding: 70px 0;
justify-content: space-evenly;
    flex-wrap: wrap;
}

ul.nav {
    display: flex;
    list-style: none;
    margin: 3px auto;
}

ul.nav li {
    margin: 5px 1rem;
}

ul.nav li:hover a {
    color: var(--text-sec);
    border-bottom: 4px solid var(--text-sec);
    transition: 0.2s;
}

ul.nav li a {
    font-weight: 400;
    font-size: 20px;
}

.hero {
    display: flex;
    flex-direction: column;
    margin: 60px 10px 20px 10px;
    padding: 25px 35px;
}

.hero .span1 {
    font-size: 3rem;
    margin: 0 10px;
}

.hero .span2 {
    font-size: 6rem;
    font-weight: 500;
    margin: 0 10px;
}

.hero .span3 {
    font-size: 3rem;
    margin: 0 10px;
}

.hero a {
    text-align: center;
    margin: 20px 10px;
    color: var(--bg-dark-main);
    transition: 0.5s;
    background-color: var(--text-main);
    border-radius: 10px;
    width: 33%;
    padding: 10px;
    font-size: large;
}

.hero a span {
    font-weight: bolder;
    font-size: larger;
    margin: 0 5px;
}

.hero a:hover {
    transform: scale(0.95);
    background-color: var(--bg-dark-main);
    color: var(--text-main);
}

.myimg {
    width: 35% !important;
    display: flex;
    /* margin-right: 30px; */
    align-items: center;
}


.scrollFade {
    opacity: 1;
    pointer-events: all;
}

.scrollFade--hidden {
    opacity: 0;
    pointer-events: none;
}

.scrollFade--visible {
    opacity: 1;
    pointer-events: all;
}

.scrollFade--animate {
    transition: all 0.5s ease-in-out;
}

#about h2,
#skill h2,
#mail h2,
#project h2 {
    text-align: center;
    margin: 30px 0;
    font-size: 35px;
}

#about h2 span,
#skill h2 span,
#mail h2 span,
#project h2 span {
    display: block;
    background-color: var(--text-sec);
    width: 120px;
    height: 6px;
    border-radius: 5px;
    margin: 8px auto;

}

.grid {
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    margin: 20px 10px;
    transition: all 0.5s;
    background-color: var(--bg-dark-main);
    border-radius: 10px;
}
.grid:hover{
    transform: scale(1.01);
}

[class*="col"] {
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
}

.col1 {
    width: 24%;
}

.col2 {
    width: 48%;
}

.col3 {
    width: 73%;
}

.col4 {
    width: 96%;
}

.about-p {
    font-size: 1.3vw;
    margin: 0;
    text-align: start;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.link img {
    border-radius: 50%;
}

.link div.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link div.side1 li:hover {
    background-color: var(--bg-dark-sec);
}

.img-invert {
    filter: var(--invert);
}

.desc {
    display: flex;
    margin: 10px 10px 20px 10px;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-between;
}

section {
    margin: 20px 90px;
}

div.skill {
    display: flex;
    flex-wrap: wrap;
}

.skill1 {
    background-color: var(--bg-dark-sec);
    border-radius: 10px;
    margin: 10px;
    flex: 1 1 450px;
    padding: 20px 10px 20px 20px;
    box-sizing: border-box;
    display: flex;
    transition: 0.5s;

}

.skill1:hover {
    transform: scale(1.05);
    box-shadow: 1px 1px 10px var(--bg-dark-main);
}
#project div.project:hover{

    transform: scale(1.03);
}
#project div.project {
    display: flex;
transition: 0.5s;
    padding: 30px;
    background-color: var(--bg-dark-sec);
    border-radius: 10px;
    /* flex-wrap: wrap; */
    
}
.font-1{
    font-size: 20px;
}
.font-0{
    font-size: 15px;
}
.font-2{
    font-size: 24px; 
}
.img{
    width: 60%;
    margin:4px !important ;
    display: flex;
    justify-content: center;
}
.img img{
    width: 95%;
}
.info{
    width: 40%;
    margin: 10px;
}
#git{
    display: block;
    background-color: var(--text-main);
    color: var(--bg-dark-main);
    padding: 10px;
    width: 180px;
    text-align: center;
    border-radius: 10px;
    margin: 20px;
    transition: 0.5s;
}
 #git:hover{
    transform: scale(1.1);
    background-color: var(--bg-dark-main);
    color: var(--text-main);

}
#mail {
    margin: 50px 90px 50px 90px;
    
}
#mail form{
    /* background-color: var(--bg-dark-main); */
    display: flex;
    flex-direction: column;
}
#mail form input,#mail form textarea{
    padding: 20px;
    color: var(--text-main);
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    transition: 0.1s;
    border-radius: 10px;
    margin: 10px;
    background-color: var(--bg-dark-main);
}
#email{
    text-transform: none;

}
#mail form input:focus,#mail form textarea:focus{
    outline: 2px solid var(--text-sec);
    outline-offset: 7px;
}
#mail form button{
    background-color: var(--text-sec);
    padding: 15px;
    width: 30%;
    transition: 0.3s;
    border-radius: 10px;
    margin: 10px auto;
    color: #ffffff;
    font-size: 20px;
}
#mail form button:hover{
    background-color: rgb(43, 93, 243);
    transform: scale(1.05);
}
/* #mail a {
    background-color: var(--text-main);
    color: var(--bg-dark-main);
    padding: 10px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    margin: 20px auto;
    transition: 0.5s;
}

#mail a:hover {
    transform: scale(1.1);

    background-color: var(--text-sec);
    color: var(--text-main);
} */
.footer{
    background-color: var(--bg-dark-sec);
    margin: 30px 0px 0px 0px !important;
}
/* don'ts go below this */


/* mobile  */
@media only screen and (max-width:784px) {

    
    div.project{
        flex-direction: column;
    }
    .hero a {
        width: 50%;
    }

    section {
        margin: 10px 10px !important;
    }
    .img , .info{
        width: 100%;
    }
    .col1,
    .col2,
    .col3,
    .col4 {
        width: 100%;
        padding: 2px;
        /* margin: 0; */
    }
    .skill{
        display:flex !important;
    }
    .myimg {
        display: none !important;
    }

    .grid {
        flex-direction: column;
    }

    .hero .span2 {
        font-size: 3rem;
    }

    .hero .span1 {
        font-size: 2rem;
    }

    .hero {
        padding: 10px !important;
    }

    .hero .span3 {
        font-size: 2rem;
    }

    .about-p {
        font-size: 16px;
    }

    .hero a {
        width: 60%;
    }
    .font-1{
        font-size: 16px;
    }
    .font-2{
        font-size: 20px;
    }

}

/* desktop */
@media only screen and (max-width:1140px) {

    .myimg {
        display: none !important;
    }

    section {
        margin: 20px 30px;
    }

}

/* tablet  */
@media only screen and (max-width:940px) {

    .hello {
        display: none;
    }

}
@media only screen and (max-width:420px) {

    #project div.project{
        padding: 10px;
    }

}